.auth {
    padding-top: 10%;
    display: grid;
}

label.required:after {
    content: " *";
    color: red;
}

.auth-card {
    margin-bottom: 5rem;
    width: 25rem;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

span, button {
    /*margin-top: 1.4rem;*/
}

input {
    min-width: 86%;
}

.p-calendar {
    min-height: 50%;
}