.channelContainer {
    display: grid;
    /*align-items: start;*/
    grid-template-areas:
    "B B B B B C C C A";
}

.left-area {
    grid-area: B;
}

.right-area {
    grid-area: A;

}

.middle-area {
    grid-area: C;
}