.content {
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
    "A A A"
    "B C D";
    justify-content: space-around;
    padding-top: 2rem;
}

.left, .middle, .right {
    /*display: grid;*/
    place-items: center;
    padding: 2rem;
}

.title {
    grid-area: A;
}

.left {
    grid-area: B;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.avatar {
    min-width: 10rem;
    min-height: 10rem;
}

.middle {
    grid-area: C;
}

.right {
    grid-area: D;
}

.notification {
    padding: 1em;
}
